body { background: #a4f557; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 21px; display: flex; }
.block-config-0 { color: #ddb56f; font-size: 12px; margin-bottom: 5px; }
.block-user-1 { color: #9cf39c; font-size: 16px; margin-bottom: 5px; }
.block-payment-2 { color: #f9cb5c; font-size: 13px; margin-bottom: 5px; }
.block-auth-3 { color: #2db811; font-size: 13px; margin-bottom: 5px; }
.block-user-4 { color: #4a2c14; font-size: 18px; margin-bottom: 5px; }
.block-cart-5 { color: #958b9b; font-size: 14px; margin-bottom: 5px; }
.block-email-6 { color: #63fcbd; font-size: 21px; margin-bottom: 5px; }
.block-database-7 { color: #7a9dc9; font-size: 13px; margin-bottom: 5px; }